<% provide(:title, 'All users') %>

<% countAll = 0 %>
<% countAdmin = 0 %>


<ul class="users">
  <% countAll = 0 %>
  <% countAdmin = 0 %>
  <% @user.in_groups_of(10) do |group| %>
    <div class="row">
      <% group.each do |user| %>
        <%if user %>
        <% countAll = countAll+1 %>
          <%if user.admin? %>
                <div class="panel panel-primary" style = "display:inline-block">
                  <div class="panel-heading" style="text-color:white">
                    <h3 class="panel-title"><%= link_to user.name, user %></h3>
                  </div>
                  <div class="panel-body">
                  <% if current_user.admin? %>
                      <% if user.admin? %>
                          <% countAdmin += 1%>
                      <% end %>
                      <%= link_to "delete", user, method: :delete,
                                                    data: { confirm: "You sure?" } %>
                  <% end %>
                </div>
                </div>
         <% else %>
              <div class="panel panel-info" style = "display:inline-block">
                <div class="panel-heading">
                  <h3 class="panel-title"><%= link_to user.name, user %></h3>
                </div>
                <div class="panel-body">
                <% if current_user.admin? %>
                    <% if user.admin? %>
                        <% countAdmin += 1%>
                    <% end %>
                    <%= link_to "delete", user, method: :delete,
                                                  data: { confirm: "You sure?" } %>
                <% end %>
              </div>
              </div>
        <% end %>
       <% end %>
     <% end %>
    </div>
  <% end %>

  <br>
  Total number of users: <%= countAll %> <br>
  Total number of administrators: <%= countAdmin %>
