<% provide(:title, 'All users') %>

<% countAll = 0 %>
<% countAdmin = 0 %>
<% @user.each do |user| %>
  <% countAll = countAll+1 %>
  <% if user.admin? %>
    <% countAdmin += 1%>
    <div class="adminbox">
      <span><%= link_to user.name, user %></span>
      <span><%= link_to "delete", user, method: :delete,
                data: { confirm: "You sure?" } %></span>
    </div>
  <% else %>
  <div class="userbox">
    <span><%= link_to user.name, user %></span>
    <span><%= link_to "delete", user, method: :delete,
              data: { confirm: "You sure?" } %></span>
  </div>
  <% end %>

<% end %> 
  <br>
  Total number of users: <%= countAll %> <br>
  Total number of administrators: <%= countAdmin %>


<!--
<br>
<ul class="users">
  <% countAll = 0 %>
  <% countAdmin = 0 %>
  <% @user.each do |user| %>
    <% countAll = countAll+1 %>
    <li>
      <%= link_to user.name, user %>
      <% if current_user.admin? %>
          <% if user.admin? %>
              <% countAdmin += 1%>
          <% end %>
          <%= link_to "delete", user, method: :delete,
                                        data: { confirm: "You sure?" } %>
      <% end %>
    </li>
  <% end %>

  <br>
  Total number of users: <%= countAll %> <br>
  Total number of administrators: <%= countAdmin %>
</ul> -->
