<% provide(:title, 'All users') %>

<%= render 'layouts/header' %>
<br>
<ul class="users">
  <% countAll = 0 %>
  <% countAdmin = 0 %>
  <% @user.each do |user| %>
    <% countAll = countAll+1 %>
    <% if current_user.admin? %>
    <div class="admin">
      <%= else %>
      <div class="user">
        <%= end %>
    <li>
      <%= link_to user.name, user %>
      <%= if current_user.admin? %>
          <%= if user.admin? %>
              <% countAdmin += 1%>
          <%= end %>
          <br>
          <%= link_to "delete", user, method: :delete,
                                        data: { confirm: "You sure?" } %>
      <%= end %>
    </li>
  </div>
  <%= end %>

  <br>
  Total number of users: <%= countAll %> <br>
  Total number of administrators: <%= countAdmin %>
</ul>
