<head>
  <title> YSX - The YouTube Stock Market </title>
</head>



<!--<div class="profile_sidebar" style="margin: 30px">
=======
<div class="well", style = "margin:35px">
<div class="profile_sidebar" style="margin: 30px">
>>>>>>> c1690034ffbd2fb688976d334c5a1dbccf423e2d
  <div class="row-picture">
    <img class="circle"  alt="icon">
  </div>
  <span><p><%= @user.name %><br>
        Capital: $<%=@user.capital%><br>
  </p>
  </span>
<<<<<<< HEAD
</div>
-->

<div class="col-lg-6 col-sm-6" style="left: 25%;">
    <div class="card hovercard">
        <div class="card-background">
            <% if @user.avatar.present? %>
              <%= image_tag @user.avatar.url%>
            <% else %>
              <img alt="" src="http://tr3.cbsistatic.com/fly/bundles/techrepubliccore/images/icons/standard/icon-user-default.png">
            <% end %>
        </div>
        <div class="useravatar">
            <% if @user.avatar.present? %>
              <%= image_tag @user.avatar.url%>
            <% else %>
              <img alt="" src="http://tr3.cbsistatic.com/fly/bundles/techrepubliccore/images/icons/standard/icon-user-default.png">
            <% end %>
        </div>
        <div class="card-info"> <span class="card-title"><%= @user.name %></span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                <div class="hidden-xs">Capital</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                <div class="hidden-xs">Edit</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-film" aria-hidden="true"></span>
                <div class="hidden-xs">Videos</div>
            </button>
        </div>
    </div>

    <div class="well">
      <div class="tab-content">
        <!-- First Tab -->
        <div class="tab-pane fade in active" id="tab1">
          <h3>$:<%=@user.capital%></h3>
        </div>
        <!-- Second Tab -->
        <div class="tab-pane fade in" id="tab2">
          <h3>
          <%= form_for(@user) do |f| %>
          <%= f.file_field :avatar %>
          <br>
          <%= f.submit "Submit", class: "btn btn-primary" %>
          <% end %>
          </h3>
        </div>
        <!-- Thrid Tab -->
        <div class="tab-pane fade in" id="tab3" style="overflow:auto">
			  <% @videos = Video.where(user_id: @user.id)%>
			  <% if @videos.any? %>
			    <div class="container">
			      <h1>User videos</h1>
			        <% @videos.in_groups_of(3) do |group| %>
			          <div class="row">
			            <% group.each do |video| %>
			              <% if (video)%>
			                <div class="col-md-4">
			                  <div class="yt_video thumbnail">
			                    <%= link_to image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title,
			                                        class: 'img-rounded'),
			                              "https://www.youtube.com/watch?v=#{video.uid}", target: '_blank' %>
			                    <div class="caption">
			                      <h5><%= video.title %></h5>
			                      <p>Published at <%= video.published_at.strftime('%-d %B %Y %H:%M:%S') %></p>
			                       <p>

			                        <span>Likes:</span> <%= video.likes %>
			                        <br>
			                        <span>Dislikes:</span> <%= video.dislikes %>
			                        <br>

			                        <%= link_to "delete", video, method: :delete,
			                                                      data: { confirm: "You sure?" } %>
			                     </p>
			                  </div>
			                </div>
			              </div>
			            <% end %>
			          <% end %>
			        </div>
			       <% end %>
			    <%else%>
			        <h2>You don't have any videos yet. <br> <%= link_to "Click here to add more!", new_video_path%></h2>

			    <% end %>
				</div>


        </div>
      </div>
    </div>

</div>
