
  <h1 style="margin-left:40px;">New video</h1> <!-- moved this outside the div for consistency -->
<div class="container">

  <%= form_for @video do |f| %>
    <%= render 'shared/error_messages', object: @video %>

    <div class="form-group">
      <%= f.label :link %>
      <%= f.text_field :link, class: 'form-control', required: true %>
      <span class="help-block">A link to the video on YouTube.</span>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
