<style type="text/css">
  div.header {
  color:white;
  background-color: #B90000;
  height:65px;
  margin:0px;
  padding:0px;
  display: inline-block;
  width:100%;
  font-family: Calibri;
  font-size: 100px;
}

div.button{
  background-color: #B90000;
  height:65px;
  width:100px;
  color:white;
  font-size: 25px;
  border: none;
  display:inline-block;
}

span{
    text-align:center;
    vertical-align: middle;
    height:65px;
    width:100px;
}
</style>

<div class="header">

  <div class="button" style="float:left">
    <span><p><%= link_to "Home", home_path %></p></span>
  </div>

  <% if logged_in? %>

    <div class="button" style="float:right">
      <span><p><%= link_to "Log out", logout_path, method: "delete" %></p></span>
    </div>

    <div class="button" style="float:right">
      <span><p><%= link_to "Profile", current_user %></p></span>
    </div>

    <% if current_user.admin? %>
      <div class="button" style="float:right">
        <span><p><%= link_to "Users", users_path %></p></span>
      </div>
    <% end %>



  <%else %>

    <div class="button" style="float:right">
      <span><p><%= link_to "Sign up", signup_path %></p></span>
    </div>

    <div class="button" style="float:right">
      <span><p><%= link_to "Login", login_path %></p></span>
    </div>

  <%end%>


</div>
