

<div class="navbar navbar-inverse">
  <div class="navbar-header">
    <%= link_to "Home", home_path, class: 'navbar-brand' %>
  </div>

  <% if logged_in? %>
    <ul class="nav navbar-nav" style="float:right">
      <li><%= link_to "Log out", logout_path, method: "delete" %></li>
      <li><%= link_to "Profile", current_user %></li>
      <% if current_user.admin? %>
          <li><%= link_to "Users", users_path %></li>
      <% end %>
    </ul>

  <%else %>
    <ul class="nav navbar-nav" style="float:right">
      <li><%= link_to "Sign up", signup_path %></li>
      <li><%= link_to "Login", login_path %></li>
      <li><%= link_to "Login with Google",  "/auth/google_oauth2", id: "login" %></li>
    </ul>
  <%end%>

  <br>
  <br>

  <ul class="nav navbar-nav" style="float:left">
    <li><%= link_to 'Videos', videos_path %></li>
    <li><%= link_to 'Add Video', new_video_path %></li>
  </ul>

  <br>
  <br>


  <div class="form-group">
    <input type="text" class="form-control" placeholder="               Search YouTube videos" >
    <br>
  </div>



</div>
